
.sensor-section {
  padding: 0 40px;
  color: rgba(255, 255, 255, 0.6);
}

.sensor-title {
  text-align: center;
  font-size: 2.6em;
  margin-bottom: 40px;
}

.sensor-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  overflow: hidden;
}

#sensor-3d-container {
  width: 50%;        
  z-index: 1;     
  height: 300px;
}

.sensor-specs-box {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 25px;
  border-radius: 10px;
  width: fit-content;
}

.sensor-specs-box h2 {
  margin-top: 0;
}

.sensor-specs-list {
  list-style: none;
  padding: 0;
}

.sensor-specs-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .sensor-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sensor-image-box img {
    width: 220px;
  }

  .sensor-specs-box {
    max-width: 100%;
  }
}